#ant specific
dist/
build/

#netbeans specific
core
nbproject/*

#java specific
*.class

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
.idea/*
.idea/vcs.xml
db_inter.txt
db_inter_private.txt
sample.osm
sample2.osm
sample3.osm
sample4.osm
test.osm
/src/osm2inter/TestMain.java
/.idea/
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/OSMImportUpdate.iml
/.idea/inspectionProfiles/
/.idea/workspace.xml
/db_inter.txt
/db_inter_private.txt
out/production/OSMImportUpdate/inter2ohdm/
out/production/OSMImportUpdate/ohdm2rendering/
out/production/OSMImportUpdate/osm/
out/production/OSMImportUpdate/osm2inter/
out/production/OSMImportUpdate/util/


